<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Endeavour Institute</title>
  <link rel="shortcut icon" type="image/png" href="../static/images/logos/favicon.png" />
  <link rel="stylesheet" href="../static/css/styles.min.css" />
  <style>
    .button {
      display: inline-block;
      background-color: #587bf9;
      color: white;
      text-align: center;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      width: 150px; /* Adjust width as needed */
      height: 40px; /* Adjust height as needed */
      position: absolute;
      top: 10px; /* Adjust vertical position as needed */
      right: 10px; /* Adjust horizontal position as needed */
    }
    
    .button:hover {
      background-color: #3fa2f9;
    }
    </style>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="../static/images/logos/dark-logo.png" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Home</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="./index.html" aria-expanded="false">
                  <span>
                    <i class="ti ti-layout-dashboard"></i>
                  </span>
                  <span class="hide-menu">Dashboard</span>
                </a>
              </li>
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Courses</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="./all_courses.html" aria-expanded="false">
                  <span>
                    <i class="ti ti-article"></i>
                  </span>
                  <span class="hide-menu">My Courses</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="./new.html" aria-expanded="false">
                  <span>
                    <i class="ti ti-alert-circle"></i>
                  </span>
                  <span class="hide-menu">What's New</span>
                </a>
              </li>
              <li class="sidebar-item">

              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="./test_series.html" aria-expanded="false">
                  <span>
                    <i class="ti ti-file-description"></i>
                  </span>
                  <span class="hide-menu">Test Series</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="./feedback.html" aria-expanded="false">
                  <span>
                    <i class="ti ti-typography"></i>
                  </span>
                  <span class="hide-menu">Feedback</span>
                </a>
              </li>
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">AUTH</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="https://endeavourinstitute.in/login"  aria-expanded="false">
                  <span>
                    <i class="ti ti-login"></i>
                  </span>
                  <span class="hide-menu">Login</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="https://endeavourinstitute.in/login"  aria-expanded="false">
                  <span>
                    <i class="ti ti-user-plus"></i>
                  </span>
                  <span class="hide-menu">Register</span>
                </a>
              </li>
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">EXTRA</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="./interaction.html" aria-expanded="false">
                  <span>
                    <i class="ti ti-mood-happy"></i>
                  </span>
                  <span class="hide-menu">Interaction Session</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="./sample_papers.html" aria-expanded="false">
                  <span>
                    <i class="ti ti-aperture"></i>
                  </span>
                  <span class="hide-menu">Sample Papers</span>
                </a>
              </li>
            </ul>
            <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
              <div class="d-flex">
                <div class="unlimited-access-title me-3">
                  <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Upgrade to pro</h6>
                  <a href="https://endeavourinstitute.in/login" target="_blank" class="btn btn-primary fs-2 fw-semibold lh-sm">Buy Pro</a>
                </div>
                <div class="unlimited-access-img">
                  <img src="../static/images/backgrounds/rocket.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <a href="https://endeavourinstitute.in/login"  class="btn btn-primary">Logout</a>
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../static/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="./profile.html" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="./updateprofile.html" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">Edit Profile</p>
                    </a>
                    
                    <a href="https://endeavourinstitute.in/login" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Class 12th Neet Subjects </h5>
            <p class="mb-0">See what's you are in! </p><button class="button">Add Subject</button>
          </div>

        </div>  
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col-md-3">
            <h5 class="card-title fw-semibold mb-4"></h5>
            <div class="card">
                <img src="../static/images/products/s7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chemistry</h5>
                  <p class="card-text">Upload Your Videos Here</p>
                  <a href="./class12thneetchemistry.html" class="btn btn-primary">ADD</a>
              </div>
            </div>
          </div>  
          <div class="col-md-3">
            <h5 class="card-title fw-semibold mb-4"></h5>
            <div class="card">
              <img src="../static/images/products/s1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Physics</h5>
                <p class="card-text">Upload Your Videos Here</p>
                <a href="./class12thneetphysics.html" class="btn btn-primary">ADD</a>
              </div>
            </div>
          </div>  
          <div class="col-md-3">
            <h5 class="card-title fw-semibold mb-4"></h5>
            <div class="card">
              <img src="../static/images/products/s5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Biology</h5>
                <p class="card-text">Upload Your Videos Here</p>
                <a href="./class12thneetbiology.html" class="btn btn-primary">ADD</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h5 class="card-title fw-semibold mb-4"></h5>
            <div class="card">

              </div>
            </div>
          </div>
        </div>   
        </div>
      </div>
    </div>
  </div>
  <script src="../static/libs/jquery/dist/jquery.min.js"></script>
  <script src="../static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/sidebarmenu.js"></script>
  <script src="../static/js/app.min.js"></script>
  <script src="../static/libs/simplebar/dist/simplebar.js"></script>
</body>

</html>